# Dependencias
/vendor/
/node_modules/

# Archivos delicados
.env
*.log

# Uploads y storage
/storage/app/*
!/storage/app/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Cache Laravel
/bootstrap/cache/*.php
/public/storage

# IDE
.DS_Store
.vscode/
.idea/
